body {
  font-family: inter ui,-apple-system,BlinkMacSystemFont,roboto,segoe ui,Helvetica,Arial,sans-serif;
  color: #000000;
}

header {
  background-color: #fafafa;

  nav {
    align-items: baseline;

    // a:first-child {
    //   vertical-align: -.125em;
    // }
  }
}

section {
  display: block;
  padding: 32px 0;

  .col-md-6 {
    margin-bottom: 16px;
  }
}

.tags {
  line-height: 1.7em;
}

.comments {
  padding-top: 64px;
}

.posts {
  a {
    color: #222222;
  }

  .post-item {
    border-bottom: 1px gray dashed;

    a {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 0;
      text-decoration: none;
    }
  }
}

span.post-time {
  font-size: 0.8em;
}

.feather-calendar {
  display: inline-block;
  vertical-align: -.125em;
  width: 1em;
  height: 1em;
}

.post {
  line-height: 1.5;

  blockquote {
    padding: 0 20px;
    margin: 20px 0;
    border-left: 4px solid #666;

    p {
      color: #666;
      font-style: italic;
    }
  }

  p {
    margin: 17px 0;
    font-size: 1.2em;
    font-family: inter ui,-apple-system,BlinkMacSystemFont,roboto,segoe ui,Helvetica,Arial,sans-serif;
  }

  h1 {
    font-weight: bold;

    a {
      color: #222;
      text-decoration: none;
    }
  }

  h2,h3,h4,h5 {
    margin: 48px auto 16px;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  }
}

p > code {
  padding: 0.1em 0.4em;
  border-radius: 3px;
  font-size: 0.9em;
  background-color: rgba(27, 31, 35, 0.05);
  color: #000000;
  vertical-align: top;
}

.prettyprint {
  background-color: #f6f8fa;
  padding: 1em 0.9em !important;
  border: 0 !important;
  padding: 2em;
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 2em 0;
  border-radius: 5px;
}

.pln {
  color: #333;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #cccccc;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #fff;
  list-style-type: decimal;
}

@media screen {
  pre {
    .str {
      color: #183691;
    }
    .kwd {
      color: #a71d5d;
    }
    .com {
      color: #969896;
    }
    .typ {
      color: #0086b3;
    }
    .lit {
      color: #0086b3;
    }
    .pun {
      color: #333;
    }
    .opn {
      color: #333;
    }
    .clo {
      color: #333;
    }
    .tag {
      color: #000080;
    }
    .atn {
      color: #795da3;
    }
    .atv {
      color: #183691;
    }
    .dec {
      color: #333;
    }
    .var {
      color: #008080;
    }
    .fun {
      color: #900;
    }
  }
}
