body {
  font-family: inter ui,-apple-system,BlinkMacSystemFont,roboto,segoe ui,Helvetica,Arial,sans-serif;
  background-color: #faf8f1;
  color: #000;
}

body[data-theme="light"] {
  background-color: #faf8f1;
  color: #000;

  header {
    background-color: #faf8f1;
  }

  .posts {
    a {
      color: #171717;
    }

    .post-item {
      border-bottom: 1px gray dashed;
    }
  }

  .post {
    blockquote {
      border-left: 4px solid #666;
      p {
        color: #666;
      }
    }

    h1 {
      a {
        color: #222;
      }
    }
  }

  p > code {
    background-color: rgba(27, 31, 35, 0.05);
    color: #000;
  }

  .prettyprint {
    background-color: #f6f8fa;
  }

  .pln {
    color: #333;
  }
}

body[data-theme="dark"] {
  background-color: #11111b;
  color: #ffffff;

  header {
    background-color: #11111b;
  }

  .posts {
    a {
      color: #fffafa;
    }

    .post-item {
      border-bottom: 1px gray dashed;
    }
  }

  .post {
    blockquote {
      border-left: 4px solid #bbb;

      p {
        color: #bbb;
      }
    }

    h1 {
      a {
        color: #222;
      }
    }
  }

  p > code {
    background-color: rgba(221, 238, 255, 0.1);
    background-color: #252739;
    color: #fff;
    color: #cbd3f2;
  }

  .prettyprint {
    background-color: #252739;
  }

  .pln {
    color: #c9d0eb;
  }

  input[type=search] {
    background-color: #2b2b2b;
    border-color: #495057;
  }

  input[type=submit] {
    background-color: #6c757d;
    color: #fff;
  }

  input[type=submit]:hover {
    background-color: #495057;
  }
}

header {
  background-color: #faf8f1;

  nav {
    align-items: baseline;

    // a:first-child {
    //   vertical-align: -.125em;
    // }
  }
}

section {
  display: block;
  padding: 32px 0;

  .col-md-6 {
    margin-bottom: 16px;
  }
}

.tags {
  line-height: 1.7em;
}

.comments {
  padding-top: 64px;
}

.posts {
  a {
    color: #222222;
  }

  .post-item {
    border-bottom: 1px gray dashed;

    a {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 0;
      text-decoration: none;
    }
  }
}

span.post-time {
  font-size: 0.8em;
}

.feather-calendar {
  display: inline-block;
  vertical-align: -.125em;
  width: 1em;
  height: 1em;
}

.post {
  line-height: 1.5;

  blockquote {
    padding: 0 20px;
    margin: 20px 0;
    border-left: 4px solid #666;

    p {
      color: #666;
      font-style: italic;
    }
  }

  p {
    margin: 17px 0;
    font-size: 1.2em;
    font-family: inter ui,-apple-system,BlinkMacSystemFont,roboto,segoe ui,Helvetica,Arial,sans-serif;
  }

  h1 {
    font-weight: bold;

    a {
      color: #222;
      text-decoration: none;
    }
  }

  h2,h3,h4,h5 {
    margin: 48px auto 16px;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  }
}

p > code {
  padding: 0.1em 0.4em;
  border-radius: 3px;
  font-size: 0.9em;
  background-color: rgba(27, 31, 35, 0.05);
  color: #000000;
  vertical-align: top;
}

.prettyprint {
  background-color: #f6f8fa;
  padding: 1em 0.9em !important;
  border: 0 !important;
  padding: 2em;
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 2em 0;
  border-radius: 5px;
}

.pln {
  color: #333;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #cccccc;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #fff;
  list-style-type: decimal;
}

@media screen {
  pre {
    .str {
      color: #183691;
    }
    .kwd {
      color: #a71d5d;
    }
    .com {
      color: #969896;
    }
    .typ {
      color: #0086b3;
    }
    .lit {
      color: #0086b3;
    }
    .pun {
      color: #333;
    }
    .opn {
      color: #333;
    }
    .clo {
      color: #333;
    }
    .tag {
      color: #000080;
    }
    .atn {
      color: #795da3;
    }
    .atv {
      color: #183691;
    }
    .dec {
      color: #333;
    }
    .var {
      color: #008080;
    }
    .fun {
      color: #900;
    }
  }

  [data-theme="dark"] {
    pre {
      .str {
        color: #a8d39e;
      }

      .kwd {
        color: #a71d5d;
      }

      .com {
        color: #969896;
      }

      .typ {
        color: #0086b3;
      }

      .lit {
        color: #0086b3;
      }

      .pun {
        color: #ccc;
      }

      .opn {
        color: #ccc;
      }

      .clo {
        color: #ccc;
      }

      .tag {
        color: #ffffff;
      }

      .atn {
        color: #795da3;
      }

      .atv {
        color: #183691;
      }

      .dec {
        color: #eee;
      }

      .var {
        color: #008080;
      }

      .fun {
        color: #900;
      }
    }
  }
}

// .toggle {
//   position: absolute;
//   top: 20px;
//   right: 20px;
// }

// .toggle input {
//   display: none;
// }

// .toggle label {
//   cursor: pointer;
//   display: inline-block;
//   width: 60px;
//   height: 34px;
//   position: relative;
//   background-color: #ccc;
//   border-radius: 17px;
// }

// .toggle label:after {
//   content: "";
//   position: absolute;
//   width: 30px;
//   height: 30px;
//   border-radius: 50%;
//   background-color: #fff;
//   top: 2px;
//   left: 2px;
//   transition: transform 0.3s ease;
// }

// .toggle input:checked+label {
//   background-color: #2196f3;
// }

// .toggle input:checked+label:after {
//   transform: translateX(26px);
// }
