---
permalink: /index.html
---
{% set page_title = 'amad.github.io' %}
{% extends "master.twig" %}
{% block content %}
<div class="row">
    <div class="col-12">
        <ul class="posts list-unstyled mt-4">
            {% for post in posts %}
            <li class="pb-4">
                <a href="{{ post.meta.permalink|raw }}"><h4>{{ post.meta.title }}</h4></a>
                <span class="post-time text-muted font-weight-light text-monospace">{{ post.meta.date|date('d M Y') }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
